{% extends "base.html" %}
{% load static %}

{% block extraStyle %}
    <link rel="stylesheet" href="{% static "css/adminTeam.css" %}">
{% endblock  %}
{% block activeTeam %}active{% endblock %}
{% block mainContent %}

<center>

    <main class="table" id="customers_table">
        <section class="table__header">
            <h1>Team Management</h1>
            <div class="input-group">
                <input type="search" placeholder="Search Data...">
                <img src="{% static "resources/search.png" %}" alt="">
            </div>
        </section>
        {% if data %}
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th> Sl.No. <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Name <span class="icon-arrow">&UpArrow;</span></th>
                        <!-- <th> Location <span class="icon-arrow">&UpArrow;</span></th> -->
                        <th> Job Title <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Role <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Pay <span class="icon-arrow">&UpArrow;</span></th>
                    </tr>
                </thead>
                <tbody>
                    {% for member in data %}
                    <tr class="box" id="{{member.id}}">
                        <td> {{forloop.counter}} </td>
                        <td> {{member.name}}</td>
                        <td> {{member.jobTitle}} </td>
                        <td>
                            {% if member.isPercent %}
                                <p class="status partner">Partner</p>
                            {% else %}
                                <p class="status employee">Employee</p>
                            {% endif %}
                        </td>
                        <td> <strong>{{member.pay}}</strong></td>
                        <input type="hidden" id="nameHidden_{{member.id}}" value="{{member.name}}">
                        <input type="hidden" id="userNameHidden_{{member.id}}" value="{{member.userName}}">
                        <input type="hidden" id="passwordHidden_{{member.id}}" value="{{member.password}}">
                        <input type="hidden" id="jobTitleHidden_{{member.id}}" value="{{member.jobTitle}}">
                        <input type="hidden" id="phoneNumberHidden_{{member.id}}" value="{{member.phoneNumber}}">
                        <input type="hidden" id="isPercentHidden_{{member.id}}" value="{{member.isPercent}}">
                        <input type="hidden" id="payHidden_{{member.id}}" value="{{member.pay}}">
                        <input type="hidden" id="IDHidden_{{member.id}}" value="{{member.id}}">
                    </tr>
                        {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="5">
                            <div class="nodata">
                                <h2>No Team Members</h2>
                                <p>Add Members to manage your team</p>
                            </div>
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </section>
    </main>
</center>


<div class="popup" id="popup">
<!-- Close button (X) -->
<button type="button" id="closeButton" onclick="closeForm()">X</button>


<form method="post" action="{% url 'team'%}">
    {% csrf_token %}
    <button id="editCancelButton" type="button">Edit</button>
    <button type="submit" id="saveButton" name="add" class="hide" onclick="return checkPassword()">Save</button>
    <button type="submit" name="delete" onclick="return confirmDelete()">Delete</button>

    <!-- Step 1 -->
    <div id="step1">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" disabled required>

        <label for="userName">User Name</label>
        <input type="text" id="userName" name="userName" disabled required>
        
        <label for="password">Password</label>
        <input type="password" id="password" name="password" disabled required>

        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" disabled required>
        
        
        <button type="button" onclick="nextStep('step1', 'step2')">Next</button>
        

        
    </div>
    
    <!-- Step 2 -->
    <div id="step2" style="display: none;">
        <label for="jobTitle">Job Title</label>
        <input type="text" id="jobTitle" name="jobTitle" disabled required>

        <label for="phoneNumber">Phone Number</label>
        <input type="tel" id="phoneNumber" name="phoneNumber" disabled pattern="[0-9]{10}" placeholder="Enter a 10 digit Number" required>
        
        <button type="button" onclick="previousStep('step2', 'step1')">Back</button>
        <button type="button" onclick="nextStep('step2', 'step3')">Next</button>
      

    </div>
    
    <!-- Step 3 -->
    <div id="step3" style="display: none;">
        <label for="isPercent">Is the user a Partner?</label>
        <label>Yes</label>
        <input type="checkbox" id="isPercent" name="isPercent" onchange="togglePayLabelAndValidation()" disabled>
        <!-- Android-like toggle button here -->

        <label for="pay" id="payLabel">Pay in Amount:</label>
        <input type="number" id="pay" name="pay" disabled required>

        <input type="hidden" id="ID" name="docID" value="">
    
        <button type="button" onclick="previousStep('step3', 'step2')">Back</button>
       
       
    </div>
</form>
  </div>
  
    {% comment %} {% if data %}
        {% for member in data %}
        <div class="box" id="{{member.id}}">
            <h2>{{member.name}}</h2>
            <p>{{member.userName}} | {{member.jobTitle}}</p>

            <input type="hidden" id="nameHidden_{{member.id}}" value="{{member.name}}">
            <input type="hidden" id="userNameHidden_{{member.id}}" value="{{member.userName}}">
            <input type="hidden" id="jobTitleHidden_{{member.id}}" value="{{member.jobTitle}}">
            <input type="hidden" id="phoneNumberHidden_{{member.id}}" value="{{member.phoneNumber}}">
            <input type="hidden" id="isPercentHidden_{{member.id}}" value="{{member.isPercent}}">
            <input type="hidden" id="payHidden_{{member.id}}" value="{{member.pay}}">
            <input type="hidden" id="IDHidden_{{member.id}}" value="{{member.id}}">


        </div>
        {% endfor %}
    {% else %}
    <div class="box">
        <h2>No Team Members</h2>
        <p>Add Members to manage your team</p>
    </div>
    {% endif %} {% endcomment %}

    
    <button id="add_float" class="add_float">+</button>
    
{% endblock  %}


{% block extraScript %}
<script src="{% static 'js/adminTeam.js'%}"></script>
<script src="{% static 'js/base.js'%}"></script>
{% endblock  %}