{% extends "base.html" %}
{% load static %}
{% block extraStyle %}
    <link rel="stylesheet" href="{% static "css/analysis.css" %}">
{% endblock  %}
{% block activeAnalysis %}active{% endblock %}
{% block mainContent %}
<h1 class="dash">Hello <span class="capital">{{userDetails.0.name}}</span>, Let's begin</h1>
    <div class="dashboard-container">
        <div class="projects-container">
            <h2>Projects Nearing DeadLine</h2>
            <div class="container-items">
                {% for project in nearToDead %}
                <div class="project-card">
                    <div>
                        <p>{{project.name}}</p>
                        <p>Client <span class="stage">{% if project.clientName %}{{project.clientName}} {% else %}Not Set{% endif %}</span></p>
                    </div>
                    <div>
                        <p class="due-date">Due date: </p><br><p>{{project.deadLine}}</p>
                    </div>
                </div>
            {% endfor %}

            </div>
        </div>
        <div class="right">

            <div class="info-container">
                <div class="info-box">
                    <p>Total Projects</p>
                    <p class="info-number">{{ totalPro }}</p>
                </div>
                <div class="info-box">
                    <p>Projects as Creator</p>
                    <p class="info-number">{{totalAsCreator}}</p>
                </div>
                <div class="info-box">
                    <p>Pending Projects</p>
                    <p class="info-number" style="color: rgba(224, 31, 31, 0.875);">{{totalPending}}</p>
                </div>
                <div class="info-box">
                    <p>Completed Project</p>
                    <p class="info-number" style="color: greenyellow;">{{totalCompleted}}</p>
                </div>
            </div>
            <div class="personal-details flex {% if username == "admin" %}hide{% endif %}"> 
                <div>
                    <h2>Personal Details</h2>
                    <table>
                        <tr>
                            <td>Name:</td>
                            <td>{{userDetails.0.name}}</td>
                        </tr>
                        <tr>
                            <td>Job Title:</td>
                            <td>{{userDetails.0.jobTitle}}</td>
                        </tr>
                        <tr>
                            <td>Username:</td>
                            <td>{{userDetails.0.userName}}</td>
                        </tr>
                        <tr>
                            <td>Pay:</td>
                            <td>{{userDetails.0.pay}}</td>
                        </tr>
                        <tr>
                            <td>Phone Number:</td>
                            <td>{{userDetails.0.phoneNumber}}</td>
                        </tr>
                    </table>
                    

                </div>
                <div class="adm-Change">
                    <p>**Contact admin to change personal details</p>
                </div>
            </div>
        </div>
    </div>

{% endblock  %}

{% block extraScript %}
<script>
    let a=[]
    let ldata={}
    
    {% for ad in data %}
     ldata={
        name: "{{ad.name}}",
        deadLine:"{{ad.deadLine}}",
        creator:"{{ad.creator}}",
        isComplete:{% if ad.isComplete%}true {% else %} false{% endif %} ,
    }
    a.push(ldata);
    {% endfor %}
    console.log(a)
</script>

{% endblock  %}