{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}{% endblock meta %}
    <title>{% block title %}Fin-Wise{% endblock  %} </title>
    {% comment %} <link rel="stylesheet" href={% static 'css/admincss.css' %}> {% endcomment %}
    {% comment %} to be deleted when confirmed {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/teamtable.css" %}">


    {% block extraStyle %}{% endblock  %}
</head>


<style></style>


<body>
    <div class="bouncing-blobs-container master-font">
        <div class="bouncing-blobs-glass"></div>
        <div class="bouncing-blobs">
          <div class="bouncing-blob bouncing-blob--blue"></div>
          <div class="bouncing-blob bouncing-blob--blue"></div>
          <div class="bouncing-blob bouncing-blob--blue"></div>
          <div class="bouncing-blob bouncing-blob--white"></div>
          <div class="bouncing-blob bouncing-blob--purple"></div>
          <div class="bouncing-blob bouncing-blob--purple"></div>
          <div class="bouncing-blob bouncing-blob--pink"></div>
        </div>
    </div>
    {% if saveLogin %}
    <script>
          // Ensure username and password are properly quoted and escaped
        var username = "{{ username|escapejs }}";
        var password = "{{ password|escapejs }}";
        console.log(username, password);
        localStorage.setItem("username", username);
        localStorage.setItem("password", password);
    </script>
    {% endif %}
    
    {% if logOut %}
    <script>
        // Remove an item from local storage
        localStorage.removeItem("username");
        localStorage.removeItem("password");
    </script>
    {% endif %}


    {% block topScript %}{% endblock %}

    {% for msg in messages %}  
        <div class="message-box-alert" id="messageBox">
        <p class="message-text">{{msg}}</p>
        </div>
    {% endfor %}

    {% block nav %}
    <div class="bottom-nav">
        <button class="nav-link {% block activeTeam %}{% endblock %}" onclick="navigateToUrl('{% url "team" %}')">Team</button>
        <button class="nav-link {% block activeProject %}{% endblock %}" onclick="navigateToUrl('{% url "project" %}')">Project</button>
        <button class="nav-link {% block activeAnalysis %}{% endblock %}" onclick="navigateToUrl('{% url "analysis" %}')">Analysis</button>
        <button class="nav-link" onclick="confirmLogOut()">Logout</button>
    </div>
    {% endblock %}

    <div class="parent" style="max-width: 1600px;margin: auto;position: relative;">
        {% block mainContent %}{% endblock %}        
    </div>

    <script>
        window.history.replaceState('Object', 'Title', '{{page}}');
    </script>
    <script src="{% static 'js/msgBox.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    {% block extraScript %}{% endblock  %}
    
</body>
</html>