{% extends "base.html" %}
{% load static %}
{% block extraStyle %}
    <link rel="stylesheet" href="{% static "css/projectList.css" %}">
{% endblock  %}
{% block activeProject %}active{% endblock %}
{% block mainContent %}
<div class="projectContainer">
    <div class="prjbox" style="background-color: #ff9999;">Box 1</div>
    <div class="prjbox" style="background-color: #99ff99;">Box 2</div>
    <div class="prjbox" style="background-color: #9999ff;">Box 3</div>
    <div class="prjbox" style="background-color: #ffff99;">Box 4</div>
</div>
{% endblock  %}
