{% extends 'base.html' %}
{% load static %}
{% block meta %}
  <meta name="csrf-token" content="{{ csrf_token }}" />
{% endblock %}
{% block extraStyle %}
  <link rel="stylesheet" href="{% static 'css/projectList.css' %}" />
  <link rel="stylesheet" href="{% static 'css/userStage.css' %}" />
{% endblock %}
{% block activeProject %}
  active
{% endblock %}

{% block mainContent %}
  <div class="tools">
    <button class="button" onclick="openForm()">+</button>
    <button id="button" class="button">-</button>
  </div>
  <div class="tool">
    <button class="button" onclick="openForm()">+</button>
    <button id="button" class="button">*</button>
  </div>

  <button class="button1" onclick="toggleTools()">💦</button>

  <div id="overlay" onclick="closeForm()"></div>

<h2 class="protitle">{{project_details.pname}} Project
                      {{project_messages.message}}
                     {% comment %} {{project_details.pcreator}}  {% endcomment %}
                     {% comment %} {{project_details.pcomp}} {% endcomment %}
</h2>

  <div class="aside">
    <aside>
        <div class="container">
            <h1>Project Timeline</h1>
            <div id="timeline">
                <div id="timeline-line"></div>
                <div class="navigation-buttons">
                    <button id="prev-button">Previous</button>
                    <button id="next-button">Next</button>
                </div>
            </div>
        </div>
        <div class="infobox container infoactive">
            <h2>Project Information</h2><hr>
            <br>
            <form action="" method="post">
                <div class="prodetail">
                    <h3>Description</h3>
                    <textarea class="prodestext transparent" name="prodes" id="prodes" readonly>{{project_details.pdes}}</textarea>
                    <h3>DeadLine</h3>
                    <input type="date" class="prodestext transparent" name="prodead" value="{{project_details.pdead}}" readonly>
                    <h2 style="text-align: center;">Client Details</h2><hr>
                    <h3>Name</h3>
                    <input type="text" class="prodestext transparent" name="cname" value="45454545">
                    <h3>Contact </h3>
                    <input type="text" class="prodestext transparent" name="cphone" value="45454545">
                    <h3>Place </h3>
                    <input type="text" class="prodestext transparent" name="cplace" value="45454545">
                </div>           
            </form>

        </div> 
      </aside>
    </div>
    {% comment %} <div class="chatbox-container">
      <div class="chatbox">
          <div class="chatbox-messages" id="chatboxMessages"></div>
              <!-- Django template loop to display messages -->
             {% for message in messages %}
                  <div class="message">{{ message.content }}</div>
              {% endfor %}
          <div class="chatbox-input">
              <input type="text" id="chatInput" placeholder="Type a message...">
              <button onclick="sendMessage()">Send</button>
          </div>
      </div>
  </div> {% endcomment %}

  <div class="chatbox">
             <div class="chatbox-messages" id="chatboxMessages">
              {% for message in project_messages %}
                  <div class="message">{{ message.message }}</div>
              {% endfor %}
              </div>

    <div class="chatbox-input">
        <input type="text" id="chatInput" placeholder="Type a message...">
        <button onclick="sendMessage()">Send</button>
    </div>
</div>
  

  <div class="container" id="formPopup">
    <h2>Add Milestone</h2>
    <form id="addMilestoneForm">
      <input type="date" id="date-input" required />
      <input type="text" id="title-input" placeholder="Enter title" required />
      <textarea id="description-input" placeholder="Enter description" required></textarea>
      <button type="button" id="add-button">Add</button>
      <button type="button" onclick="closeForm()">Cancel</button>
    </form>
  </div>
{% endblock %}

{% block extraScript %}
<script>
  let proid = "{{project_details.proid}}";
</script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'js/userStage.js' %}"></script>
  <script src="{% static 'js/base.js' %}"></script>
{% endblock %}
