.nodata{
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: lightblue;
  padding: 20px;
}

main.table{
  background-color: rgba(178, 178, 178, 0.107);
  border: solid #00d5ff08;
}


.add_float {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 40px;
  right: 40px;
  background-color: transparent;
  color: #fff;
  border: none;
  border-radius: 50px;
  text-align: center;
  font-size: 36px;
  z-index: 1000; /* Ensure it's above other elements */
}

.add_float:hover {
  filter: invert(.4);
}