* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    height:  80%;
    margin-bottom: 8%;
    margin-top: 100px;
}

.prjbox {
    margin: 8px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .projectContainer {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
}

.add_float {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 40px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50px;
    text-align: center;
    font-size: 36px;
    box-shadow: 2px 2px 3px #999;
    z-index: 1000;
    /* Ensure it's above other elements */
  }
  
  .add_float:hover {
    background-color: #0069d9;
  }

  
  .set_float {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 40px;
    background-color: transparent;
    color: #fff;
    border: none;
    border-radius: 50px;
    text-align: center;
    font-size: 36px;
    z-index: 1000; /* Ensure it's above other elements */
  }
  
  .set_float:hover {
    filter: invert(.4);
  }
  
  .hide {
    display: none !important;
  }
  
  .popup {
    /* display: none; */
    position: fixed;
    width: 80%;
    max-width: 800px;
    min-height: 500px;
    padding: 30px;
    top: 50%;
    font-size: 1.3em;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #5a5a5a67;
    /* padding: 1px 10px; */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    overflow: auto;
    /* or overflow: scroll; */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
  .cls{
    margin-left: 10px;
  }
  
  .popup::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, and Opera */
  }
  
  /* .popup form { */
    /* padding: 30px; */
    /* border: 10px solid rgba(135, 207, 235, 0.397); */
  /* } */
  
  .popup form label {
    display: block;
    margin-bottom: 10px;
    margin-left: 40px;
    width: 50%;
    color: #ebebeb;
  }
  
  .popup form input,
  .popup form textarea {
    display: block;
    margin-bottom: 10px;
    margin-left: 40px;
    width: 50%;
    border-radius: 5px;
    background-color: #ffffffc2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    height: 3em;
    border: none;
    padding-left: 15px;
  }
  
  input[type="checkbox" i] {
    width: auto !important;
    height: auto !important;
  }

  .bxbtn {
    display: inline-block;
    padding: 10px 20px;
    margin-left: 40px;
    margin-top: 20px;
    background-color: #bdbdbd8c;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    width: 10em;
    border: 2px solid #fff;
  }
  
  .editbtn{
    height: 15px;
    background: none;
    border: none;
  }
  
  /* .editbtn img[alt="Edit"]{
    color: black;
  } */
  .editbtn img[alt="Cancel"]{
    filter: invert(.5);
  }


  #closeButton {
    float: right;
    background: none;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 25px;
    cursor: pointer;
    padding: 5px;
    border-radius: 2px;
    transition: all .2s linear;
  }
  #closeButton:hover{
    color: red;
  }
  